<ion-view title="Add TV" id="page10">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item ui-sref="menu.tV">Item 1</ion-item>
            <ion-item ui-sref="menu.tV">Item 2</ion-item>
            <ion-item ui-sref="menu.tV">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>