<ion-view title="Audio Controller" id="page13">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-item class="range range-positive">
                <i class="icon ion-volume-low"></i>
                <input type="range" value="50" min="0" max="100">
                <i class="icon ion-volume-high"></i>
            </ion-item>
        </form>
    </ion-content>
</ion-view>


<!-- <ion-nav-view animation="slide-left-right" name="audio-tabs"> -->
  <!-- Center content -->
  <ion-tabs class="tabs-positive tabs-icon-top">

  	<ion-tab title="Home" icon-on="ion-home" icon-off="ion-home" href="/side-menu21/audio-controller/audio-home">
  		<ion-nav-view name="home-tab"></ion-nav-view>
  	</ion-tab>

	  <ion-tab title="music" icon-on="ion-music-note" icon-off="ion-music-note" href="/side-menu21/audio-controller/audio-music">
	    <ion-nav-view name="music-tab"></ion-nav-view>
	  </ion-tab>

		<ion-tab title="Volume" icon="ion-volume-high" href="/side-menu21/audio-controller/audio-volume">
			<ion-nav-view name="volume-tab"></ion-nav-view>
		</ion-tab>

	  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="/side-menu21/audio-controller/audio-settings">
	    <ion-nav-view name="settings-tab"></ion-nav-view>
	  </ion-tab>

	</ion-tabs>
<!-- </ion-nav-view> -->
