<ion-view title="Digital TV" id="page3">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.addDigitalTV" id="digitalTV-button14" class="button button-positive  button-block">Add</a>
        <ion-list>
            <ion-item ui-sref="menu.digitalTVController">Item 1</ion-item>
            <ion-item ui-sref="menu.digitalTVController">Item 2</ion-item>
            <ion-item ui-sref="menu.digitalTVController">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>