<ion-view title="Home" hide-nav-bar="true" id="page1" style="background-color:#7BACDC;">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">

        <img ng-src="img/logo.png" style="width: 100%">
        <a ui-sref="menu2" id="home-button1" style="color:#D62D20;" class="button button-light  button-block icon ion-social-google"> Login with Google</a>
        <a ui-sref="menu2" id="home-button2" style="color:#3B5998;" class="button button-light  button-block icon ion-social-facebook"> Login with Facebook</a>
    </ion-content>
</ion-view>
