<ion-view title="TV Controller" id="page14">
    <ion-content padding="true" >

    </ion-content>
</ion-view>

<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="Keypad" icon-on="ion-ios-keypad" icon-off="ion-ios-keypad-outline" href="/side-menu21/tv-controller/tv-keypad">
    <ion-nav-view name="keypad-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Volume" icon="ion-volume-high" href="/side-menu21/tv-controller/tv-volume">
    <ion-nav-view name="volume-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favorite" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="/side-menu21/tv-controller/tv-favorite">
    <ion-nav-view name="favorite-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="/side-menu21/tv-controller/tv-settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
