<ion-view view-title="Home">
  <ion-content class="padding">




    <form class="list">
    	<div class="item item-divider item-calm">
    		<div align="center">TRACK : Gife(Musketeer)</div>
  		</div>

    	<div align="center">00:00:00/00:05:00</div>
      <ion-item class="range range-positive">
        <i class="icon ion-ios-arrow-back"></i>
        <input type="range" value="0" min="0" max="100">
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </form>

    <div class="row button-bar">
      <!-- <div class="col"> -->
        <a href="" class="button icon ion-ios-rewind button-dark button-large button-outline"></a>
      <!-- </div> -->
      <!-- <div class="col"> -->
        <a href="" class="button icon ion-play button-dark button-large button-outline"></a>
      <!-- </div> -->
      <!-- <div class="col"> -->
        <a href="" class="button icon ion-ios-fastforward button-dark button-large button-outline"></a>
      <!-- </div> -->
    </div>

    <div class="row button-bar">
      <!-- <div class="col"> -->
        <a href="" class="button icon ion-skip-backward button-dark button-large button-outline"></a>
      <!-- </div> -->
      <!-- <div class="col"> -->
        <a href="" class="button icon ion-stop button-dark button-large button-outline"></a>
      <!-- </div> -->
      <!-- <div class="col"> -->
        <a href="" class="button icon ion-skip-forward button-dark button-large button-outline"></a>
      <!-- </div> -->
    </div>
  </ion-content>
</ion-view>