<ion-view view-title="Volume">
  <ion-content>

	<div class="list">	
		<!-- Volume buttom -->
    <div class="card">
    <div class="item item-divider">
      Volume
    </div>
	  <div class="row item">

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-70">
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" min="0" max="100" value="50">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>
        <!-- Volume buttom -->
	  </div>
</div>

<div class="card">
	  <li class="item item-toggle">
        Mute
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
       </label>
      </li>
    </div>

		<!-- Base buttom -->
    <div class="card">
    <div class="item item-divider">
      Base
    </div>
	  <div class="row item">

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-70">
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" min="0" max="100" value="50">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>
        <!-- Base buttom -->
	  </div>
</div>
	  <!-- Treble buttom -->
    <div class="card">
    <div class="item item-divider">
      Treble
    </div>
	  <div class="row item">

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-70">
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" min="0" max="100" value="50">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>
        <!-- Treble buttom -->
	  </div>
</div>
	  <!-- Left-Right buttom -->
    <div class="card">
    <div class="item item-divider">
      Balance
    </div>
	  <div class="row item">

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-70">
          <div class="range">
            <i class="icon ion-ios-arrow-left"></i>
            <input type="range" name="volume" min="0" max="100" value="50">
            <i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>
        <!-- Left-Right buttom -->
	  </div>
    </div>

	</div>
  </ion-content>
</ion-view>