<ion-view view-title="Volume">
  <ion-content>
    <h1>Volume</h1>

	<div class="list">
	  <div class="item range range-positive">
	  	<h2>Volume  |</h2>

	    <i class="icon ion-volume-low"></i>
	    <input type="range" name="volume" min="0" max="100" value="50">
	    <i class="icon ion-volume-high"></i>
	  </div>

	  <div class="item range range-positive">
	  	<h2>Base           |</h2>
	    <i class="icon ion-minus"></i>
	    <input type="range" name="volume" min="0" max="100" value="50">
	    <i class="icon ion-plus"></i>
	  </div>

	  <div class="item range range-positive">
	  	<h2>Treble           |</h2>
	    <i class="icon ion-minus"></i>
	    <input type="range" name="volume" min="0" max="100" value="50">
	    <i class="icon ion-plus"></i>
	  </div>

	  <div class="item range range-positive">
	  	<h2>Left           |</h2>
	    <i class="icon ion-minus"></i>
	    <input type="range" name="volume" min="0" max="100" value="50">
	    <i class="icon ion-plus"></i>
	  </div>

	  <div class="item range range-positive">
	  	<h2>Right           |</h2>
	    <i class="icon ion-minus"></i>
	    <input type="range" name="volume" min="0" max="100" value="50">
	    <i class="icon ion-plus"></i>
	  </div>

	</div>
  </ion-content>
</ion-view>