<ion-view view-title="Volume">
  <ion-content>

	<div class="list">	
		<!-- Volume buttom -->
	  <div class="row item">
	  		<div class="col col-10 center">
          Volume
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-70">
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" min="0" max="100" value="50">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>
        <!-- Volume buttom -->
	  </div>

	  <li class="item item-toggle">
        Mute
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
       </label>
      </li>

		<!-- Base buttom -->
	  <div class="row item">
	  		<div class="col col-10">
          Base
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-70">
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" min="0" max="100" value="50">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>
        <!-- Base buttom -->
	  </div>

	  <!-- Treble buttom -->
	  <div class="row item">
	  		<div class="col col-10">
          Treble
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-70">
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" min="0" max="100" value="50">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>
        <!-- Treble buttom -->
	  </div>

	  <!-- Left-Right buttom -->
	  <div class="row item">
	  		<div class="col col-10">
          Left-Right
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-70">
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" min="0" max="100" value="50">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>
        <!-- Left-Right buttom -->
	  </div>

	</div>
  </ion-content>
</ion-view>