<ion-view view-title="Favorite">
  <ion-content class="padding" scroll="false">

    <a href="" class="button button-balanced button-outline button-block">ADD</a>

    <div class="list">
        <a class="item item-button-right" ng-repeat="favorite in favorites">
          {{favorite.number}} {{favorite.name}}
          <button class="button button-stable button-outline">
            <i class="ion-edit"></i>
          </button>
        </a>
    </div>
    <!-- ./list -->

  </ion-content>
</ion-view>
