<ion-view view-title="Keypad">
  <ion-content class="padding">

    <div class="row">
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">1</a>
      </div>
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">2</a>
      </div>
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">3</a>
      </div>
    </div>
    <!-- ./row -->

    <div class="row">
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">4</a>
      </div>
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">5</a>
      </div>
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">6</a>
      </div>
    </div>
    <!-- ./row -->

    <div class="row">
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">7</a>
      </div>
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">8</a>
      </div>
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">9</a>
      </div>
    </div>
    <!-- ./row -->

    <div class="row">
      <div class="col">
        <a href="" class="button button-light button-outline button-block"><i class="ion-minus"></i> CH</a>
      </div>
      <div class="col">
        <a href="" class="button button-calm button-outline button-block">0</a>
      </div>
      <div class="col">
        <a href="" class="button button-light button-outline button-block">CH <i class="ion-plus"></i></a>
      </div>
    </div>
    <!-- ./row -->

    <hr>

    <div class="row">
      <div class="col col-33">
        <a href="" class="button button-stable button-outline button-block" style="font-size: 0.9em;">
          <i class="ion-ios-gear-outline"></i>
          Settings
        </a>
      </div>
      <div class="col col-33">
        <a href="" class="button button-dark button-outline button-block"><i class="ion-chevron-up"></i></a>
      </div>
      <div class="col col-33">
        <a href="" class="button button-positive button-outline button-block">
          <i class="ion-grid"></i>
          Apps
        </a>
      </div>
    </div>
    <!-- ./row -->

    <div class="row">
      <div class="col">
        <a href="" class="button button-dark button-outline button-block"><i class="ion-chevron-left"></i></a>
      </div>
      <div class="col">
        <a href="" class="button button-balanced button-outline button-block">OK</a>
      </div>
      <div class="col">
        <a href="" class="button button-dark button-outline button-block"><i class="ion-chevron-right"></i></a>
      </div>
    </div>
    <!-- ./row -->

    <div class="row">
      <div class="col col-33">
        <a href="" class="button button-stable button-outline button-block">
          <i class="ion-reply"></i>
          Back
        </a>
      </div>
      <div class="col col-33">
        <a href="" class="button button-dark button-outline button-block"><i class="ion-chevron-down"></i></a>
      </div>
      <div class="col col-33">
        <a href="" class="button button-assertive button-outline button-block">
          <i class="ion-android-exit"></i>
          Exit
        </a>
      </div>
    </div>
    <!-- ./row -->

  </ion-content>
</ion-view>
