<ion-view view-title="Sound">
  <ion-content padding="true" class="has-header">

    <div class="list">

      <div class="row item">

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-minus"></i>
          </button>
        </div>

        <div class="col col-80">
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
          </div>
        </div>

        <div class="col col-10">
          <button class="button button-stable button-outline button-block button-small">
            <i class="ion-plus"></i>
          </button>
        </div>

      </div>
      <!-- ./item range -->

      <li class="item item-toggle">
        Mute
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
       </label>
      </li>
      <!-- ./item -->

      <label class="item item-input item-select">
        <div class="input-label">
          Language
        </div>
        <select>
          <option selected>Englist</option>
          <option>Thai</option>
        </select>
      </label>
      <!-- ./item -->

      <label class="item item-input item-select">
        <div class="input-label">
          Subtitles
        </div>
        <select>
          <option selected>Englist</option>
          <option>Thai</option>
        </select>
      </label>
      <!-- ./item -->

    </div>
    <!-- ./list -->

  </ion-content>
</ion-view>
